@import "../../main.scss";

@mixin nav-font-family(){
    @include Montserrat-title();
    color: #aaaaaa;
    text-transform: uppercase;
}

.nav-background {
    background-color: #ffffff;
}

.navbar-brand {
    @include nav-font-family;
    font-size: 13px;
}

.nav-background .row .navbar .nav-link {
    @include nav-font-family;
    font-size: 9px;
    padding-left: 0rem;
    padding-right: 0rem;
}

.navbar .nav-link:hover {
    border-bottom: 1px solid;
}

@media (max-width: 576px) {
    .nav .navbar-brand {
        margin-right: 0px;
    }
}

.nav-background .icons {
    text-align: right;
}