@import "../../main.scss";

@mixin nav-font-family(){
    @include Montserrat-title();
    color: #aaaaaa;
    text-transform: uppercase;
}

.nav-background {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background-color: #ffffff;
}

.nav {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-brand {
    @include nav-font-family;
}

.nav-background .row .navbar .nav-link {
    @include nav-font-family;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar .nav-link:hover {
    border-bottom: 1px solid;
}

@media (max-width: 576px) {
    .nav .navbar-brand {
        margin-right: 0px;
    }
}