@import "../../main.scss";

@mixin nav-font-family(){
    @include Montserrat-title();
    color: #aaaaaa;
    text-transform: uppercase;
}

.nav-background {
    background-color: #ffffff;
    @include font-awesome-border();
}

.nav-background .svg-inline--fa {
    @include font-awesome();
}

.navbar-brand {
    @include nav-font-family;
    color: #757575;
    font-size: 16px;
}

.nav-background .row .navbar .nav-link {
    @include nav-font-family;
    font-size: 10px;
    padding-left: 0rem;
    padding-right: 0rem;
}

.navbar .nav-link:hover {
    border-bottom: 1px solid;
}

@media (max-width: 576px) {
    .nav .navbar-brand {
        margin-right: 0px;
    }
}

.nav-background .icons {
    @include font-awesome-border();
    text-align: right;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.nav-background .svg-inline--fa {
    @include font-awesome();
}