@mixin services-font(){
    color: #ffffff;
    font-family: Amsdam;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.44px;
}

@mixin card-text() {
    color: #cfcfcf;
    font-family: "Crimson Text - Roman";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.4px;
}

.services {
    background-image: url("/images/services/Background.png");
}

.services h2 {
    @include services-font();
    font-size: 32px;
}

.services svg {
    width: inherit;
}

.services .card {
    border: none;
    background: inherit;
    // border: 3px solid #d8d8d8;
    border-radius: 0;
}

.services .card:before {
        content: '';;
        position: absolute;
        top: -20px;
        left: 40%;
        margin: 10px;
}

.services .card-1::before {
    background: url("/images/services/Idea.png");
    width: 26px;
    height: 25px;
}

.services .card-2::before {
    background: url("/images/services/Monitor.png");
    width: 27px;
    height: 21px;
}

.services .card-3::before {
    background: url("/images/services/Combo_chart.png");
    width: 24px;
    height: 22px;
}

.services .card-4::before {
    background: url("/images/services/Icon.png");
    width: 21px;
    height: 21px;
}

.services .card-text {
    @include card-text();
}

.services .card .card-title {
    @include card-text();
    font-family: Montserrat;
    letter-spacing: 1.47px;
    font-size: 16px;
}

.title-border {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 71px;
    border: 2px solid #d8d8d8;
}

.title-border-top-left {
    border-right: none;
    border-bottom: 2px solid #d8d8d8;

}

.title-border-top-right {
    left: auto;
    right: 0;
    border-left: none;
    border-bottom: 2px solid #d8d8d8;
}

.title-border-bottom-left {
    width: 100%;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #d8d8d8;
}

.title-border-bottom-right {
    width: 100%;
    left: auto;
    right: 0;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid #d8d8d8;
}