.services {
    background-image: url("/client/public/images/services/Background.png");
}

@mixin services-text-style {
    color: #ffffff;
    font-family: Amsdam;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.44px;
}

.services h1 {

}