@mixin Amsdam-card-title {
    color: #3e3d3d;
    font-weight: 400;
    font-family: Amsdam;
    text-transform: uppercase;
    letter-spacing: 0.44px;
}

@mixin Montserrat-title {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.47px;
}

@mixin buttons-style() {
    width: 140px;
    padding: 7px 20px;
    border-color: #3e3d3d;
    border-radius: 0;
}

@mixin Crimson-card-text {
    font-family: "Crimson Text - Roman";
    font-size: 13px;
    letter-spacing: 1.4px;
}

@mixin card-overlay-text {
    border-bottom: 2px solid #515151;
    width: inherit;
    @include Crimson-card-text();
    font-style: italic;
    padding-bottom: 1rem;
}

@mixin path-white {
    stroke: #ffffff;
    stroke-width: 2px;
    stroke-linecap: round;
    fill: none;
}

@mixin path-dark {
    stroke: #3e3d3d;
}

@mixin gallery-heights {
    .gallery .col-md-3:nth-child(4n+1) .img-fluid:nth-child(odd)  {
        height: 60%!important;
    }
    .gallery .col-md-3:nth-child(4n+1) .img-fluid:nth-child(even) {
        height: 40%!important;
    }
    .gallery .col-md-3:nth-child(4n+2) .img-fluid:nth-child(odd)  {
        height: 45%!important;
    }
    .gallery .col-md-3:nth-child(4n+2) .img-fluid:nth-child(even) {
        height: 55%!important;
    }
    .gallery .col-md-3:nth-child(4n+3) .img-fluid:nth-child(odd)  {
        height: 35%!important;
    }
    .gallery .col-md-3:nth-child(4n+3) .img-fluid:nth-child(even) {
        height: 65%!important;
    }
    .gallery .col-md-3:nth-child(4n+4) .img-fluid:nth-child(odd)  {
        height: 65%!important;
    }
    .gallery .col-md-3:nth-child(4n+4) .img-fluid:nth-child(even) {
        height: 35%!important;
    }
}

@mixin scheme-title-responsive {
    @media (max-width: 2560px) {
        .scheme-title {
            width: 2.5vw;
            height: 2.5vw;
            line-height: 2.5vw;
        }
    }
    @media (max-width: 1440px) {
        .scheme-title {
            width: 4vw;
            height: 4vw;
            line-height: 4vw;
        }    
    }
    @media (max-width: 1280px) {
        .scheme-title {
            width: 3vw;
            height: 3vw;
            line-height: 3vw;
        }
    }
    @media (max-width: 768px) {
        .scheme-title {
            width: 6vw;
            height: 6vw;
            line-height: 6vw;
        }
     }
     @media (max-width: 540px) {
        .scheme-title {
            width: 10vw;
            height: 10vw;
            line-height: 10vw;
        }
    }
    @media (max-width: 414px) {
        .scheme-title {
            width: 12vw;
            height: 12vw;
            line-height: 12vw;
        }
    }
}  

@mixin scheme-title {
    border-radius: 100%;
    text-align: center;
    width: 4vw;
    height: 4vw;
    margin: auto;
    line-height: 4vw;
}