.portfolio .gallery .img-fluid {
    overflow: hidden;
    width: 18rem;
}

.gallery {
    height: 400px;
}

@mixin gallery-heights {
     .gallery:nth-child(n+2) .img-fluid:nth-child(1)  {
        height: 30%!!important
    }
}

.portfolio {
    @include gallery-heights();
}