@import "../History/style.scss";

.ourteam .card:hover .card-img-overlay {
    display: block;
}

.ourteam .card-img-overlay {
    background: rgba(246, 246, 246, 0.8);
    display: none;
}

.ourteam .card .card-title {
    position: relative;
    top: 17rem;
    @include history-title();
}

.ourteam .card .card-text {
    border-bottom: 2px solid #515151;
    width: inherit;
    position: relative;
    top: 16.5rem;
    @include card-text();
    font-style: italic;
    padding-bottom: 1rem;
}

.ourteam .card-text i {
    border-bottom: 1px solid #515151;
}

.ourteam .svg-inline--fa {
    color:#3e3d3d;
}

.ourteam .icons {
    position: relative;
    top: 16.5rem;
}   