@mixin icon() {
    color:#3e3d3d;

}

.ourteam .card-img-overlay {
    background: rgba(246, 246, 246, 0.8);
}

.ourteam .card .card-title {
    position: relative;
    top: 15rem;
}

.ourteam .card .card-text {
    border-bottom: 2px solid #515151;
    width: inherit;
    position: relative;
    top: 15rem;
}

.svg-inline--fa {
    @include icon();
    position: relative;
}

.svg-inline--fa:nth-child(n+2) {
    border-right: 1px solid black;
}