@import "../../main.scss";

.fullBlog {
    background-color: #e3e3e3;
}

.fullBlog .card {
    border: none;
    background-color: inherit;
}

.fullBlog .card-body {
    padding: 2em 0em;
}

.fullBlog .card .card-title {
    @include Montserrat-title();
    text-transform: uppercase;
    font-weight: 700;
}

.fullBlog .icons {
    @include Crimson-card-text();
    font-style: italic;
    color: #818181;
    display: flex;
    justify-content: start;
}

.fullBlog .svg-inline--fa {
    height: 1.3rem;
    width: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position: relative;
}