.history {
    background-color: #ededed;
}

@mixin services-font(){
    color: #3e3d3d;    
    font-family: Amsdam;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.44px;
}

@mixin card-text() {
    color: #3e3d3d;
    font-family: "Crimson Text - Roman";
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.4px;
}

@mixin history-title () {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.47px;
}

@mixin dots () {
    position: absolute;
    top: 3%;
    width: 1.5rem;
    height: 1.5rem;
    content: '';
    background-color: #3e3d3d;
    border-radius: 50%;
    display: inline-block; 
}

@mixin lines {
    display: inline-block;
    width: 0;
    height: 100%;
    content: '';
    position: absolute;
    outline: 1px solid #3e3d3d; 
}

.history h2 {
    @include services-font();
    font-size: 32px;
}

.history p {
    @include card-text();
}

.history svg {
    width: inherit;
}

.history path {
    stroke: #3e3d3d;
}

.history .scheme-title {
    @include history-title();
    border: 1px solid #3e3d3d;
    border-radius: 100%;
    text-align: center;
    width: 4vw;
    height: 4vw;
    margin: auto;
    line-height: 4vw;
}

.history .card
{
    background-color: inherit;
    border: 0.125rem solid #3e3d3d;
    border-radius: 0;
}

.history div.col-md-6:nth-of-type(even) .card::after {
   @include lines();
    left: -1.0625rem;
    top: 17%;
 }
  
  .history .col-md-6:nth-of-type(odd) .card::after {
    @include lines();
    right: -1.0625rem;
    top: -17%;
  }

.history div.col-md-6:nth-of-type(even) .card::before {
    @include dots();
    left: -1.8rem;
  }
  
  .history div.col-md-6:nth-of-type(odd) .card::before {
   @include dots();
    right: -1.8rem;
   }

.history .card .card-title {
    @include history-title();
    text-transform: uppercase;
}

.history .card .date {
    @include history-title();
    text-align: left;
    font-size: 12px;
}

.history .container .row .col-md-12 .col-md-6 #white {
    color: #e4e4e4;
    background-color: #3e3d3d;
}

@media (max-width: 2560px) {
    .history .scheme-title {
        width: 2.5vw;
        height: 2.5vw;
        line-height: 2.5vw;
    }
}    

@media (max-width: 1440px) {
    .history .scheme-title {
        width: 3vw;
        height: 3vw;
        line-height: 3vw;
    }
}   

@media (max-width: 1280px) {
    .history .scheme-title {
        width: 3vw;
        height: 3vw;
        line-height: 3vw;
    }
}   

@media (max-width: 768px) {
    .history .col-md-6:nth-of-type(odd) .card::after  {
        top: -13%;
    }

    .history div.col-md-6:nth-of-type(even) .card::after {
        top: 12%;
    }

    .history .scheme-title {
        width: 6vw;
        height: 6vw;
        line-height: 6vw;
    }
}

@media (max-width: 640px) {
    .history .col-md-6:nth-of-type(odd) .card::after, .history div.col-md-6:nth-of-type(even) .card::after {
        top: 0px;
    }
}

@media (max-width: 540px) {

    .history .scheme-title {
        width: 10vw;
        height: 10vw;
        line-height: 10vw;
    }
}

@media (max-width: 414px) {

    .history .scheme-title {
        width: 12vw;
        height: 12vw;
        line-height: 12vw;
    }
}