.history {
    background-color: #ededed;
}

@mixin services-font(){
    color: #3e3d3d;    
    font-family: Amsdam;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.44px;
}

@mixin card-text() {
    font-family: "Crimson Text - Roman";
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1.4px;
}

.history h2 {
    @include services-font();
    font-size: 32px;
}

.history p {
    @include card-text();
}

.history svg {
    width: inherit;
}

.history path {
    stroke: #3e3d3d;
}

.history .scheme-title {
    @include card-text();
    font-family: Montserrat;
    letter-spacing: 1.47px;
    font-size: 16px;
    border: 1px solid #3e3d3d;
    border-radius: 100%;
    text-align: center;
    width: 4vw;
    height: 4vw;
    margin: 1.75rem auto;
    line-height: 4vw;
}