@import "../../main.scss";

.forms {
    background-image: url("/images/forms/Background.png");
}

.forms .card-title {
    @include Montserrat-title();
    color: #ffffff;
    text-transform: uppercase;
}

.forms .navbar-brand {
    font-size: 18px;
}

.forms .card-paragraph {
    @include card-overlay-text();
    color: #949494;
}

.forms .svg-inline--fa path {
    color: #a4a4a4;
}

.forms .svg-inline--fa:nth-child(n+2) {
    border-left: 1px solid #a4a4a4;
}

.forms .form-control {
    border: 2px solid #464646;
    height: calc(1.5em + 1.5rem + 2px);
    border-radius: 0px;
    background: inherit;
}

.forms .form-control:focus {
    box-shadow: 0 0 0 0.2rem #3e3d3d;
}

.forms textarea {
    background: inherit;
}

.forms ::placeholder {
    @include Crimson-card-text();
    font-style: italic;
}

.forms .btn {
    background-color: #464646;
    border: none;
    color: #e3e3e3;
    padding: 10px 50px;
    border-radius: 0px;
    @include Montserrat-title();
}

.forms .footer {
    border-top: 0.5px solid #3e3e3e;;
}