@import "../../main.scss";

.post-container {
    background-color: #e3e3e3;
}

.post, .comments {
    @include post-fontAwesome-icons();
    @include post-card();
}

.post .card-img-top {
    padding: 2em;
}

.post .card-paragraph-bold {
    @include Crimson-card-text();
    font-weight: 700;
    letter-spacing: 1.6px;
    border: 2px solid #a8a8a8;
}

.post-container .icons-post {
    padding-right: 15px;
    padding-left: 15px;
}

.post-container .icons-post .icons .svg-inline--fa {
    border: 1px solid #b7b7b7;
    border-radius: 50%;
    height: 2rem;
    margin: 0.75rem 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.comments .card-title, .comment-form .card-title {
    @include Montserrat-title();
    font-weight: 700;
    text-transform: uppercase;
}

.comments .card {
    flex-direction: row;
}

.comments .card-body {
    border-bottom: 1px solid #b7b7b7;
}

.comments .card-img {
    height: fit-content;
    width: fit-content;
}

.comments .text-right {
    cursor: grab;
}

.comment-form {
    @include form();
}