@import "../../main.scss";

@mixin responsive-testimonials-caption {
    @media (max-width: 2561px) {
        .testimonials .quote {
            position: relative;
            font-size: 50px;
        }
        bottom: 15%;
    }
    @media (max-width: 1441px) {
        bottom: 10%;
    }
    @media (max-width: 1281px) {
        bottom: 0%;
    }

    @media (max-width: 1080px) {
        bottom: 0%;
        .caption {
            font-size: 12px;
        }
        .testimonials .quote {
            position: relative;
            font-size: 40px;
        }
     }

    @media (max-width: 900px) {
        bottom: 35%;
     }

    @media (max-width: 769px) {
        bottom: 25%;
        h3 {
            font-size: 25px;
           }
     }
     @media (max-width: 600px) {
        bottom: 20%;
       h3 {
        font-size: 12px;
       }
       svg {
        width: 100%
    }

        .btn {
            font-size: 4px;
            padding: 0.5em;
        }

        .caption {
            font-size: 7px;
        }
    }
    @media (max-width: 414px) {
        padding-bottom: 0px;

        h3 {
            font-size: 9px;
           }
            .caption {
                font-size: 4px;
            }
        .carousel-control-next-icon, .carousel-control-prev-icon {
            display: inline-block;
            width: 12px;
            height: 12px;
        }
    }

    @media (max-width: 380px) {
        bottom: 15%;
    }

    @media (max-width: 320px) {
        bottom: 10%;
    }
} 


.testimonials .carousel-caption {
    @include responsive-testimonials-caption();
}

.testimonials .caption {
    color: #efefef;
    font-family: "Crimson Text";
    font-size: 20px;
    font-style: italic;
}

.testimonials .quote:nth-child(even) {
    vertical-align: text-top;
}

.testimonials .name {
    @include Montserrat-title();
    color: #e3e3e3;
    text-transform: uppercase;
}

.testimonials .free {
    @include Crimson-card-text();
    color: #e3e3e3;
}

.testimonials .carousel-indicators li {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-left: 2px;
    margin-right: 2px;
}