@import "../../main.scss";

@mixin responsive-testimonials-caption {
    @media (max-width: 2561px) {
        .quote {
            position: relative;
            font-size: 50px;
        }
        bottom: 15%;
    }
    @media (max-width: 1441px) {
        bottom: 10%;
    }
    @media (max-width: 1281px) {
        bottom: 5%;
        .quote {
            font-size: 45px;
        }
    }

    @media (max-width: 1080px) {
        bottom: 15%;
        .quote {
            font-size: 25px;
        }
        .img-fluid {
            max-width: 10%;
        }
     }

    @media (max-width: 900px) {
        bottom: 15%;
        .caption {
            font-size: 15px;
        }
        .quote {
            font-size: 20px;
        }
     }

    @media (max-width: 769px) {
        .caption {
            font-size: 12px;
        }
        .name {
            font-size: 10px;
            margin-bottom: 0.5rem;
        }
        .free {
            font-size: 10px;
            margin-bottom: 0.5rem;
        }
     }

     @media (max-width: 600px) {
        .caption {
            font-size: 10px;
        }
        .quote {
            font-size: 10px;
        }
    }

    @media (max-width: 540px) {
        bottom: 25%;
        .caption {
            font-size: 8px;
        }
        .quote {
            font-size: 8px;
        }
        .name {
            font-size: 8px;
            margin-bottom: 0rem;
        }
        .free {
            font-size: 8px;
            margin-bottom: 0rem;
        }
    }

    @media (max-width: 414px) {
        bottom: 15%;
    }

    @media (max-width: 380px) {
        bottom: 15%;
        padding-bottom: 0px;
        .caption {
            font-size: 7px;
        }
        .quote {
            font-size: 6px;
        }
        .name {
            font-size: 7px;
            margin-bottom: 0rem;
        }
        .free {
            font-size: 7px;
            margin-bottom: 0rem;
        }
    }

    @media (max-width: 320px) {
        bottom: 10%;
    }
} 

.testimonials .carousel-caption {
    @include responsive-testimonials-caption();
}

.testimonials .caption {
    color: #efefef;
    font-family: "Crimson Text";
    font-size: 20px;
    font-style: italic;
}

.testimonials .quote:nth-child(even) {
    vertical-align: text-top;
}

.testimonials .name {
    @include Montserrat-title();
    color: #e3e3e3;
    text-transform: uppercase;
}

.testimonials .free {
    @include Crimson-card-text();
    color: #e3e3e3;
}

.testimonials .carousel-indicators li {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-left: 2px;
    margin-right: 2px;
}