@import "../../main.scss";

.carousel  svg {
    width: 650px;
    height: 9px;
    vertical-align: super;
}

.carousel  path {
    @include path-white();
}       

.carousel-caption {
    bottom: 50%;
}

.caption {
    @include Crimson-card-text();
    font-weight: bold;
    font-style: italic;
    font-size: 0.75em;
}

.carousel-caption .btn {
    color: #ffffff;
    border-color: #ffffff;
}