@import "../../main.scss";

.carousel  svg {
    width: 500px;
    height: 9px;
    vertical-align: super;
}

.carousel  path {
    @include path-white();
}       

.jumbotron  .carousel-caption {
   @include responsive-carousel-caption();
}

.jumbotron .caption {
    @include Crimson-card-text();
    font-weight: bold;
    font-style: italic;
    font-size: 0.75em;
}

.carousel-caption .btn {
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 0px;
}