@import "../History/style.scss";
@import "../OurTeam/style.scss";

.blog h2 {
    @include services-font();
}

.blog p {
    @include card-text();
}

.blog .gallery .col-md-3:nth-child(4n+1) .card:nth-child(even) {
    background-color: #424244;
}

.gallery .col-md-3:nth-child(4n+2) .card:nth-child(odd) {    
    background-color: #2d2d2f;
}

.gallery .col-md-3:nth-child(4n+3) .card:nth-child(even) {
    background-color: #232325;
}

.gallery .col-md-3:nth-child(4n+4) .card:nth-child(odd)  {
    background-color: #555557;
}

.blog .card {
    background-color: inherit;
    border-radius: 0;
}

.blog .card .card-text {
    @include card-overlay-text();
    color: #e3e3e3;
}

.blog .card .card-title {
    @include card-overlay-title();
    color: #e3e3e3;
    text-transform: uppercase;
}

.blog .card .card-paragraph {
    @include card-overlay-text();
    color: #949494;
    font-style: unset;
}