@import "../../main.scss";
// board text style
.bigBlog .carousel-caption {
    @include responsive-board-caption();
}

.bigBlog .carousel-caption h3 {
    @include Amsdam-card-title();
    color: #ffffff;
}

.breadcrumb {
    justify-content: center;
    background-color: inherit;
}

.breadcrumb .breadcrumb-item, .breadcrumb a {
    @include Crimson-card-text();
    color: #ffffff;
}
// a color for the ">" sign
.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
    color: #ffffff;

}