@mixin nav-font-family(){
    color: #aaaaaa;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.nav {
    height: 65px;
}

.navbar-brand {
    @include nav-font-family;
    font-size: 18px;
}

.nav-link {
    @include nav-font-family;
}