@import "../../main.scss";

@mixin checkbox-text {
    @include Montserrat-title();
    color: #3e3d3d;
    text-align: center;
}

.checkbox .card {
    background-color: inherit;
    border-top: 0px;
    border-bottom: 0px;
}

.checkbox .card-img-top {
    height: 40px;
    width: 40px;
}

.checkbox .card-body {
    padding-bottom: 0px;
}

.checkbox .card .card-title {
    @include checkbox-text();
    font-size: 13px;
}

.checkbox .card .card-text {
    @include checkbox-text();
    font-size: 45px;
}