@import "../History/style.scss";

@media (max-width: 1440px) {
    .prices .scheme-title-img .line {
        top: 44%;
    }
}

@media (max-width: 1200px) {
    .prices .scheme-title-img .line {
        top: 40%;
    }
}

@media (max-width: 991px) {
    .prices .scheme-title-img .line {
        top: 34%;
    }
}

@media (max-width: 768px) {
    .prices .scheme-title-img .line {
        top: 48%;
    }
}

@media (max-width: 525px) {
    .prices .scheme-title-img .line {
        top: 44%;
    }
}

@media (max-width: 372px) {
    .prices .scheme-title-img .line {
        top: 40%;
    }
}

.prices {
    @include scheme-title-responsive();
}

.prices h2 {
    @include services-font();
}

.prices p, .prices .list-group li {
    @include card-text();
}

.prices .card .card-title {
    @include history-title();
    text-align: center;
}

.prices .scheme-title-img img {
    @include title-scheme-img();
    border: 2px solid #3e3d3d;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    padding: 0.4rem;
    margin: auto;
    position: relative;
    z-index: 5;
    background-color: #ffffff;
}

.prices .line {
    @include lines();
    top: 44%;
    width: calc(100% - 4em);
    z-index: 1;
}

.prices .card .card-text {
    @include history-title();
    text-align: center;
    font-weight: 700;
    font-size: 70px;
}

.prices .dollar {
    position: relative;
    font-size: 30px;
    top: -35px;
}

.prices .list-group li {
    font-style: italic;
    text-align: center;
    letter-spacing: normal;
    border: none;
    padding-top: 0px;
}

.prices .card .btn {
    @include history-title();
    display: block;
    margin: auto;
    border: 2px solid #3e3d3d;
    border-radius: 0px;
    padding: 0.25rem 1.5rem;
}