@import "../History/style.scss";

.prices h2 {
    @include services-font();
}

.prices p {
    @include card-text();
}

.prices .card .card-title {
    @include history-title();
    text-align: center;
}

@media (max-width: 2560px) {
    .prices .scheme-title {
        width: 2.5vw;
        height: 2.5vw;
        line-height: 2.5vw;
    }
}    

.prices .scheme-title-img img {
    @include title-scheme-img();
    border: 2px solid #3e3d3d;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    padding: 0.4rem;
    margin: auto;
    position: relative;
    z-index: 5;
    background-color: #ffffff;
}

.prices .line {
    @include lines();
    top: 44%;
    width: calc(100% - 4em);
    z-index: 1;
}