@import "../History/style.scss";

.prices h2 {
    @include services-font();
}

.prices p {
    @include card-text();
}

.image-card {
    height: 3vw;
    width: 3vw;
    line-height: 3vw;
    margin: auto
}

.prices .scheme-title-img {
    @include title-scheme-img();
    border: 2px solid #3e3d3d;
    border-radius: 100%;

    height: inherit;
    width: inherit;
}